@model IEnumerable<EurovisionHub.Models.Vote>

@{
    ViewData["Title"] = "Votes";
}

<h1>Votes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Points)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsJury)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromCountry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToParticipation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsJury)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromCountry.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToParticipation.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
